:root{
    /* FÄRGER */
    --mainColor: #ADFF02 ;
    --accentColor: #FFDD00 ;
    --darkColor: #000000;
    --lightColor: #F6F6F6;

    /* TYPSNITT */
    --titleFont: 'Rajdhani', sans-serif;
    --bodyTextFont: 'Source Code Pro', monospace;
    /* --specialFont: ; */

    /* STORLEK TEXT */
    font-size: 62.5%; /* <--- meaning the default value will be 10 px = 1 rem */

    --bodyFontSz: 1.6rem;
    --middleTitleSz:2rem;
    --titleFontSz: 3rem;

    /* MARGINALER, PADDING, BORDER */
    --viewerMargin: 20px;
    --textPadding:8px;
    --buttonPadding:13px;
    --buttonBorder: 1px solid #ADFF02;

}

* {
    margin:0;
    padding:0;
    box-sizing: border-box;
}

body {
    overflow: hidden;
}

#wrapper {
    background-color: var(--darkColor);
    height: 100vh;
    width: 100vw;
}

.title {
    font-size: var(--titleFontSz);
    font-family: var(--titleFont);
    color: var(--mainColor);
    font-weight: 800;
}

.middleTitle {
    font-size: var(--middleTitleSz);
    font-family: var(--bodyTextFont);
    text-transform: uppercase;
    color: var(--mainColor);
    font-weight: 500;
}

.bodyText {
    font-size: var(--bodyFontSz);
    font-family: var(--bodyTextFont);
    color: var(--mainColor);
    font-weight: 300;
}

.button.bodyText{
    font-weight: 400;
}

.button {
    padding: var(--buttonPadding);
    background-color: var(--darkColor);
    border: var(--buttonBorder);
    color: var(--mainColor)
}

.button.callToAction {
    background-color: var(--mainColor);
    color: var(--darkColor);
}

button.button.callToAction:active {
    background-color: var(--darkColor);
    color: var(--mainColor);
}

#map {
    height: 100%;
}

.hide,
#subContent.hide{
    display: none;
}

@keyframes glitch-anim {
    0% {
      clip: rect(40px, 9999px, 38px, 0);
      transform: skew(0.65deg);
    }
    5% {
      clip: rect(84px, 9999px, 78px, 0);
      transform: skew(1deg);
    }
    10% {
      clip: rect(4px, 9999px, 71px, 0);
      transform: skew(0.97deg);
    }
    15% {
      clip: rect(41px, 9999px, 88px, 0);
      transform: skew(0.74deg);
    }
    20% {
      clip: rect(10px, 9999px, 77px, 0);
      transform: skew(0.69deg);
    }
    25% {
      clip: rect(14px, 9999px, 65px, 0);
      transform: skew(0.68deg);
    }
    30% {
      clip: rect(54px, 9999px, 30px, 0);
      transform: skew(0.37deg);
    }
    35% {
      clip: rect(3px, 9999px, 73px, 0);
      transform: skew(0.24deg);
    }
    40% {
      clip: rect(55px, 9999px, 91px, 0);
      transform: skew(0.32deg);
    }
    45% {
      clip: rect(98px, 9999px, 48px, 0);
      transform: skew(1deg);
    }
    50% {
      clip: rect(87px, 9999px, 95px, 0);
      transform: skew(0.08deg);
    }
    55% {
      clip: rect(22px, 9999px, 20px, 0);
      transform: skew(0.56deg);
    }
    60% {
      clip: rect(15px, 9999px, 66px, 0);
      transform: skew(0.36deg);
    }
    65% {
      clip: rect(68px, 9999px, 14px, 0);
      transform: skew(0.46deg);
    }
    70% {
      clip: rect(78px, 9999px, 37px, 0);
      transform: skew(0.26deg);
    }
    75% {
      clip: rect(48px, 9999px, 48px, 0);
      transform: skew(0.29deg);
    }
    80% {
      clip: rect(72px, 9999px, 67px, 0);
      transform: skew(0.79deg);
    }
    85% {
      clip: rect(55px, 9999px, 72px, 0);
      transform: skew(0.34deg);
    }
    90% {
      clip: rect(34px, 9999px, 90px, 0);
      transform: skew(0.96deg);
    }
    95% {
      clip: rect(42px, 9999px, 18px, 0);
      transform: skew(0.93deg);
    }
    100% {
      clip: rect(14px, 9999px, 40px, 0);
      transform: skew(0.26deg);
    }
}

@keyframes glitch-anim2 {
    0% {
      clip: rect(45px, 9999px, 34px, 0);
      transform: skew(0.09deg);
    }
    5% {
      clip: rect(72px, 9999px, 30px, 0);
      transform: skew(0.96deg);
    }
    10% {
      clip: rect(48px, 9999px, 27px, 0);
      transform: skew(0.43deg);
    }
    15% {
      clip: rect(88px, 9999px, 73px, 0);
      transform: skew(0.25deg);
    }
    20% {
      clip: rect(77px, 9999px, 41px, 0);
      transform: skew(0.84deg);
    }
    25% {
      clip: rect(38px, 9999px, 77px, 0);
      transform: skew(0.93deg);
    }
    30% {
      clip: rect(32px, 9999px, 9px, 0);
      transform: skew(0.2deg);
    }
    35% {
      clip: rect(17px, 9999px, 1px, 0);
      transform: skew(0.79deg);
    }
    40% {
      clip: rect(35px, 9999px, 14px, 0);
      transform: skew(0.77deg);
    }
    45% {
      clip: rect(31px, 9999px, 96px, 0);
      transform: skew(0.92deg);
    }
    50% {
      clip: rect(72px, 9999px, 13px, 0);
      transform: skew(0.39deg);
    }
    55% {
      clip: rect(25px, 9999px, 72px, 0);
      transform: skew(0.05deg);
    }
    60% {
      clip: rect(72px, 9999px, 43px, 0);
      transform: skew(0.15deg);
    }
    65% {
      clip: rect(17px, 9999px, 14px, 0);
      transform: skew(0.02deg);
    }
    70% {
      clip: rect(16px, 9999px, 89px, 0);
      transform: skew(0.74deg);
    }
    75% {
      clip: rect(59px, 9999px, 26px, 0);
      transform: skew(0.43deg);
    }
    80% {
      clip: rect(11px, 9999px, 66px, 0);
      transform: skew(0.81deg);
    }
    85% {
      clip: rect(6px, 9999px, 38px, 0);
      transform: skew(0.24deg);
    }
    90% {
      clip: rect(61px, 9999px, 12px, 0);
      transform: skew(0.02deg);
    }
    95% {
      clip: rect(67px, 9999px, 46px, 0);
      transform: skew(0.35deg);
    }
    100% {
      clip: rect(52px, 9999px, 44px, 0);
      transform: skew(0.19deg);
    }
}

@keyframes glitch-skew {
    0% {
      transform: skew(4deg);
    }
    10% {
      transform: skew(0deg);
    }
    20% {
      transform: skew(-4deg);
    }
    30% {
      transform: skew(3deg);
    }
    40% {
      transform: skew(2deg);
    }
    50% {
      transform: skew(0deg);
    }
    60% {
      transform: skew(-3deg);
    }
    70% {
      transform: skew(0deg);
    }
    80% {
      transform: skew(-1deg);
    }
    90% {
      transform: skew(-2deg);
    }
    100% {
      transform: skew(3deg);
    }
}