
/* MAP */

#map {
    height: 100vh;
    width: 100vw;
}

header {
	position: absolute;
	top: 0;
	z-index: 1;
	height: 7.5%;
	width: 100%;
	background: var(--darkColor);
	color: var(--mainColor);
	font-weight: bolder;
	font-size: larger;
	display: flex;
	justify-content: center;
	align-items: center;
}

/* Content icons */
#subContent {
	display: grid;
	grid-template-rows: 4fr 4fr 1fr;
	grid-template-columns: 4fr 1fr;
	background-color: var(--mainColor);
	gap: 3px;
	height: 22%;
	width: 100%;
	z-index: 1;
	position: absolute;
	bottom: 0;
}

#hintWrapper{
	grid-row: 3/4;
	grid-column: 1/3;
	height:100%;
	width:100%;

	display: flex;
	align-items: center;	
}

#hintWrapper > p {
	font-size: 1.3rem;
	font-weight: 400;
	color: var(--darkColor);
	overflow: hidden;
    height: 1.5rem;
}

#geigermeter{
	grid-row: 1/3;
	grid-column: 1/2;
	height:100%;
	width:100%;
	background-color: var(--darkColor);
}

#diary_icon {
	grid-row: 1/2;
	grid-column: 2/3;
	height:100%;
	width:100%;
	background-color: var(--darkColor);

	display:flex;
	justify-content: center;
	align-items: center;
}

#riddles_icon {
	grid-row: 2/3;
	grid-column: 2/3;
	height:100%;
	width:100%;
	background-color: var(--darkColor);

	display:flex;
	justify-content: center;
	align-items: center;
}

#diary_icon > img,
#riddles_icon > img{
	width:30%;
}

/* RIDDLES */
.riddlesBox {
	height: 100%;
	z-index: 2;
	position: absolute;
	background: black;
	color: lightgreen;
	overflow: scroll;
	width: 100%;
	transition: all ease .5s;
}

.riddleBox{
	height: 15%;
	width: 30%;
	background-color: white;
}

/* COMMAND INTERPRETER */
.diaryBox {
	height: 100%;
	z-index: 2;
	position: absolute;
	top: 100%;
	background: black;
	color: lightgreen;
	padding: 5%;
	overflow: scroll;

	transition: all ease .5s;
}
.excerptBox{
	margin-bottom: 10%;
}
.closeBtn {
	transform: rotate(90deg);
	position: fixed;
	left: calc(50% - 20px);
	bottom: 5%;
	font-size: 20px;
	border-radius: 100%;
	border: 1px solid lightgreen;
	color: lightgreen;
	background: black;
	width: 40px;
	height: 40px;
	box-shadow: -1px 0.75px 4px 0px white;

	opacity: 0%;
	transition: all ease 1s;
}

/* MESSAGES */
.codeBox {
	position: absolute;
	top: 25%;
	z-index: 10;
	background: black;
	overflow: scroll;
	
	display:flex;
	flex-direction: column;
	margin:var(--viewerMargin);
	box-shadow: 0px 0px 10000px var(--mainColor)

}

.titleWrapper {
	display: flex;
    justify-content: space-between;
    align-items: center;
    margin: var(--viewerMargin);
}

.closeButton {
	height: 20px;
	width: 20px;
	background-color: var(--mainColor);
	display: flex;
	justify-content: center;
	align-items: center;
	border: none;
	padding: var(--buttonPadding);
	cursor: pointer;
}

.codeBox > .bodyText {
	margin: 0px var(--viewerMargin);
	margin-bottom: var(--viewerMargin);
}

/* .codeText {
	color: lightgreen;
	margin: 0;
	padding: 11%;
	text-align: justify;
} */

#answer {
	margin: 0px var(--viewerMargin);
    display: grid;
    gap: 5px;
    grid-template-columns: repeat(6, 1fr);
    margin-bottom: var(--viewerMargin);
	align-self: center
}

.number{
	max-width: 40px;
    height: 40px;
	background-color: var(--mainColor);
    border: none;
    color: var(--darkColor);
	font-weight: 400;
	padding: 35%;
}

#answer > button {
    grid-row: 2;
    grid-column: 1 / 7;
	padding: 8px;
	margin-top: var(--viewerMargin);
}

.up{
    top: 6.3%;
}

.opacity {
	opacity: 100%;
}