/* MAP */

#map {
    height: 100vh;
    width: 100vw;
}

header {
	position: absolute;
	top: 0;
	z-index: 1;
	height: 6.2%;
	width: 100%;
	background:  var(--darkColor);
	color: var(--mainColor);
	font-weight: bolder;
	font-size: var(--titleFontSz);
	display: flex;
	justify-content: center;
	align-items: center;
	border-bottom: 1px solid var(--mainColor);
	font-family: var(--titleFont);
}

/* Content icons */
#subContent {
	background-color:  var(--darkColor);
	height: 22%;
	width: 100%;
	z-index: 1;
	position: absolute;
	bottom: 0;
	border-top: 1px solid lightgreen;
}
img{
	position: absolute;
}
#geigermeter{
	width: 42%;
	top: 1%;
	left: 2%;
}
#diary_icon {
	width: 18.5%;
	right: 5%;
	top: 4%;
}
#riddles_icon {
	width: 20%;
	right: 4.4%;
	bottom: 5.5%;
}

/* RIDDLES */
.riddlesContainer, .diaryBox{
	height: 100%;
	width: 100%;
	z-index: 2;
	position: absolute;
	background:  var(--darkColor);
	color: var(--mainColor);
	overflow: scroll;
	transition: all ease .5s;
	padding: 5%;
	top: 100%;
}

.riddlesBoxes {
	width: 100%;
	height: 90%;
	display: grid;
	gap: 10px;
	grid-template-columns: 1fr 1fr 1fr;
	grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
	overflow: scroll;
}
.riddleBox{
	height: 80%;
	background-color: white;
}

/* COMMAND INTERPRETER */

/* .diaryBox {
	height: 100%;
	width: 100%;
	z-index: 2;
	position: absolute;
	top: 100%;
	background:  var(--darkColor);
	color: var(--mainColor);
	padding: 5%;
	overflow: scroll;

	transition: all ease .5s;
} */
.excerptBox{
	margin-bottom: 10%;
	font-size: var(--bodyFontSz);
	font-family: var(--bodyTextFont);
}
.date_time{
	margin-bottom: 10px;
	color: white;
}
img.excerptImg{
	position: relative;
	width: 50%;
	left: 25%;
}
.excerptText {
	margin-top: 10px;
	margin-bottom: 20px;
}
.excerptPage{
	color: white;
	text-align: right;
}

.closeBtn {
	transform: rotate(90deg);
	position: fixed;
	left: calc(50% - 20px);
	bottom: 5%;
	font-size: 20px;
	border-radius: 100%;
	border: 1px solid var(--mainColor);
	color: var(--mainColor);
	background:  var(--darkColor);
	width: 40px;
	height: 40px;
	box-shadow: -1px 0.75px 4px 0px white;

	opacity: 0%;
	transition: all ease 1s;
}

/* MESSAGES */
.codeBox {
	height: 25%;
	width: 70%;
	position: absolute;
	top: 35%;
	left: 15%;
	z-index: 10;
	background:  var(--darkColor);
	border: 1px solid var(--mainColor);
	overflow: scroll;
}

.closeButton {
	height: 10%;
	width: 8%;
	background-color: var(--mainColor);
	color:  var(--darkColor);
	position: relative;
	left: 87%;
	top: 5%;
	display: flex;
	justify-content: center;
	align-items: center;
	border: none;
	border-radius: 25%;

	cursor: pointer;
}

.codeText {
	color: var(--mainColor);
	margin: 0;
	padding: 11%;
	text-align: justify;
}

.up{
    top: 6.2%;
}
.opacity {
	opacity: 100%;
}