/* Common code for all the phases */
#firstPhase, #secondPhase, #thirdPhase{
    height:100%;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 2fr 3fr 1fr;
}

#firstPhase > .title,
#secondPhase > .title,
#thirdPhase > .title {
    grid-row: 2;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: var(--textPadding);
    margin: auto var(--viewerMargin);
}

#firstPhase > .bodyText,
#secondPhase > .bodyText,
#thirdPhase > .bodyText {
    grid-row: 3;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: var(--textPadding);
    text-align: center;
    margin: auto var(--viewerMargin);
}

/* PHASE 1 - ARE YOU READY */
#firstPhase > #choiceSection {
    grid-row:4;
    display: grid;
    grid-template-rows: 1fr 1fr;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    margin: auto var(--viewerMargin);
}

#firstPhase > #choiceSection > .middleTitle {
    grid-row: 1;
    grid-column: 1/3;
    animation: textPulse 4s infinite; 
}

@keyframes textPulse {
    0% {opacity: 1;}
    50% {opacity: 0;}
    100% {opacity: 1;}
}

.message {
    position: absolute;
    width: 90vw;
    top: 80vw;
    left: calc(50vw - 45vw);
    background-color: var(--mainColor);

    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.message > p {
    color: var(--darkColor);
    text-align: center;
    padding: 2rem;
    padding-top:0;
    font-weight: 400;
}

.message > img {
    height: 40px;
    width: 40px;
    padding: 1rem;
    margin-top: 1rem;
    margin-right: 2rem
}

/* Glitch effect  */
#firstPhase > .title,
#secondPhase > .title,
#thirdPhase > .title {
    position: relative;
    color: var(--mainColor);
    letter-spacing: 0.1em;
    /* Animation provies a slight random skew. Check bottom of doc
    for more information on how to random skew. */
    animation: glitch-skew 1s infinite linear alternate-reverse;
}

#firstPhase > h1::before,
#secondPhase > .title::before,
#thirdPhase > .title::before {
    content: attr(data-text);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    left: 2px;
    text-shadow: -2px 0 #ff00c1;
    /* Creates an initial clip for our glitch. This works in
    a typical top,right,bottom,left fashion and creates a mask
    to only show a certain part of the glitch at a time. */
    clip: rect(44px, 450px, 56px, 0);
    /* Runs our glitch-anim defined below to run in a 5s loop, infinitely,
    with an alternating animation to keep things fresh. */
    animation: glitch-anim 5s infinite linear alternate-reverse;
    display: flex;
    justify-content: center;
    align-items: center
}

#firstPhase > h1::after,
#secondPhase > .title::after,
#thirdPhase > .title::after {
    content: attr(data-text);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    left: -2px;
    text-shadow: -2px 0 #00fff9, 2px 2px #ff00c1;
    animation: glitch-anim2 1s infinite linear alternate-reverse;
    display: flex;
    justify-content: center;
    align-items: center
}

@keyframes glitch-anim {
    0% {
      clip: rect(40px, 9999px, 38px, 0);
      transform: skew(0.65deg);
    }
    5% {
      clip: rect(84px, 9999px, 78px, 0);
      transform: skew(1deg);
    }
    10% {
      clip: rect(4px, 9999px, 71px, 0);
      transform: skew(0.97deg);
    }
    15% {
      clip: rect(41px, 9999px, 88px, 0);
      transform: skew(0.74deg);
    }
    20% {
      clip: rect(10px, 9999px, 77px, 0);
      transform: skew(0.69deg);
    }
    25% {
      clip: rect(14px, 9999px, 65px, 0);
      transform: skew(0.68deg);
    }
    30% {
      clip: rect(54px, 9999px, 30px, 0);
      transform: skew(0.37deg);
    }
    35% {
      clip: rect(3px, 9999px, 73px, 0);
      transform: skew(0.24deg);
    }
    40% {
      clip: rect(55px, 9999px, 91px, 0);
      transform: skew(0.32deg);
    }
    45% {
      clip: rect(98px, 9999px, 48px, 0);
      transform: skew(1deg);
    }
    50% {
      clip: rect(87px, 9999px, 95px, 0);
      transform: skew(0.08deg);
    }
    55% {
      clip: rect(22px, 9999px, 20px, 0);
      transform: skew(0.56deg);
    }
    60% {
      clip: rect(15px, 9999px, 66px, 0);
      transform: skew(0.36deg);
    }
    65% {
      clip: rect(68px, 9999px, 14px, 0);
      transform: skew(0.46deg);
    }
    70% {
      clip: rect(78px, 9999px, 37px, 0);
      transform: skew(0.26deg);
    }
    75% {
      clip: rect(48px, 9999px, 48px, 0);
      transform: skew(0.29deg);
    }
    80% {
      clip: rect(72px, 9999px, 67px, 0);
      transform: skew(0.79deg);
    }
    85% {
      clip: rect(55px, 9999px, 72px, 0);
      transform: skew(0.34deg);
    }
    90% {
      clip: rect(34px, 9999px, 90px, 0);
      transform: skew(0.96deg);
    }
    95% {
      clip: rect(42px, 9999px, 18px, 0);
      transform: skew(0.93deg);
    }
    100% {
      clip: rect(14px, 9999px, 40px, 0);
      transform: skew(0.26deg);
    }
}

@keyframes glitch-anim2 {
    0% {
      clip: rect(45px, 9999px, 34px, 0);
      transform: skew(0.09deg);
    }
    5% {
      clip: rect(72px, 9999px, 30px, 0);
      transform: skew(0.96deg);
    }
    10% {
      clip: rect(48px, 9999px, 27px, 0);
      transform: skew(0.43deg);
    }
    15% {
      clip: rect(88px, 9999px, 73px, 0);
      transform: skew(0.25deg);
    }
    20% {
      clip: rect(77px, 9999px, 41px, 0);
      transform: skew(0.84deg);
    }
    25% {
      clip: rect(38px, 9999px, 77px, 0);
      transform: skew(0.93deg);
    }
    30% {
      clip: rect(32px, 9999px, 9px, 0);
      transform: skew(0.2deg);
    }
    35% {
      clip: rect(17px, 9999px, 1px, 0);
      transform: skew(0.79deg);
    }
    40% {
      clip: rect(35px, 9999px, 14px, 0);
      transform: skew(0.77deg);
    }
    45% {
      clip: rect(31px, 9999px, 96px, 0);
      transform: skew(0.92deg);
    }
    50% {
      clip: rect(72px, 9999px, 13px, 0);
      transform: skew(0.39deg);
    }
    55% {
      clip: rect(25px, 9999px, 72px, 0);
      transform: skew(0.05deg);
    }
    60% {
      clip: rect(72px, 9999px, 43px, 0);
      transform: skew(0.15deg);
    }
    65% {
      clip: rect(17px, 9999px, 14px, 0);
      transform: skew(0.02deg);
    }
    70% {
      clip: rect(16px, 9999px, 89px, 0);
      transform: skew(0.74deg);
    }
    75% {
      clip: rect(59px, 9999px, 26px, 0);
      transform: skew(0.43deg);
    }
    80% {
      clip: rect(11px, 9999px, 66px, 0);
      transform: skew(0.81deg);
    }
    85% {
      clip: rect(6px, 9999px, 38px, 0);
      transform: skew(0.24deg);
    }
    90% {
      clip: rect(61px, 9999px, 12px, 0);
      transform: skew(0.02deg);
    }
    95% {
      clip: rect(67px, 9999px, 46px, 0);
      transform: skew(0.35deg);
    }
    100% {
      clip: rect(52px, 9999px, 44px, 0);
      transform: skew(0.19deg);
    }
}

@keyframes glitch-skew {
    0% {
      transform: skew(4deg);
    }
    10% {
      transform: skew(0deg);
    }
    20% {
      transform: skew(-4deg);
    }
    30% {
      transform: skew(3deg);
    }
    40% {
      transform: skew(2deg);
    }
    50% {
      transform: skew(0deg);
    }
    60% {
      transform: skew(-3deg);
    }
    70% {
      transform: skew(0deg);
    }
    80% {
      transform: skew(-1deg);
    }
    90% {
      transform: skew(-2deg);
    }
    100% {
      transform: skew(3deg);
    }
}

/* PHASE 2 - LOG IN */

#secondPhase > #logIn {
    grid-row:4;
    margin: auto var(--viewerMargin);
}

#secondPhase > #logIn > .middleTitle {
    grid-row: 1;
    grid-column: 1/3;
    text-align: center;
}

#form {
    width:80%;
    display: grid;
    justify-content: center;
    align-items: center;
    place-items: center;
    gap: 2rem;
    margin: var(--viewerMargin) auto;
}

#userBox, #passwordBox {
    display: flex;
    flex-direction: column;
}

#form > #username {
    grid-row: 1;
    grid-column: 1;
}

#form > #password{
    grid-row: 1;
    grid-column: 2;
}

#form label {
    background-color: var(--mainColor);
    color: var(--darkColor);
    min-height: 2.4rem;
    padding: 0.2rem;
    width:13rem;
}

#form input {
    width:13rem;
    background-color: var(--darkColor);
    border: var(--buttonBorder);
    color: var(--mainColor);
    min-height: 4.2rem;
    padding: 0rem 1rem;
}

#form > .errorMessage {
    grid-row: 2;
    grid-column: 1/3;
    height:3.4rem;
    color: red;
    font-size: 1.2rem;
    font-family: var(--bodyTextFont);
    font-weight: 300;
}

#form > button {
    grid-row: 3;
    grid-column: 1/3;
    /* width: 10rem; */
}

/* PHASE 3 - WELCOME + IMPORTANT INFORMATION */

#thirdPhase#thirdPhase > button {
    grid-row: 4;
    width: 15rem;
    height:4.4rem;
    margin:0rem auto;
    margin-top:4rem;
}

#information {
    height: 100vw;
    background-color: var(--mainColor);
    margin: auto var(--viewerMargin);
    border-radius: 10px 10px 0px 0px;
    position: absolute;
    bottom: calc(-100vw + 41px);
    overflow-y: scroll;
    transition: bottom 1.5s ease-in-out;
}

#information > .middleTitle, 
#information > .bodyText {
    background-color: var(--mainColor);
    color:var(--darkColor);
    padding: var(--textPadding);
    margin: auto var(--viewerMargin);
}

.closeWrap {
    padding: var(--textPadding);
    margin: auto var(--viewerMargin);
    display: flex;
    justify-content: center;
}

/* Transition */

#information.openUp {
    bottom: 0;
    transition: bottom 1.5s ease-in-out;
}

@keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
}

@keyframes fadeOut {
    0% {opacity:1;}
    100% {opacity:0;}
}

/* OVERLAY / LOADING PAGE */
#loadingPage {
    position: absolute;
    height:100vh;
    width:100vw;
    top:0;
    left:0;
    background-color: var(--mainColor);
    z-index: 1000;
    display: flex;
    justify-content: center;
    align-items: center;
}

#loadingPage > img{
    width:35vw;
    height:35vw;
}