:root{
    /* FÄRGER */
    --mainColor: #ADFF02 ;
    --accentColor: #FFDD00 ;
    --darkColor: #1C1018;
    --lightColor: #F6F6F6;

    /* TYPSNITT */
    --titleFont: ;
    --bodyTextFont: ;
    --specialFont: ;

    /* STORLEK TEXT */
    font-size: 62.5%; /* <--- meaning the default value will be 10 px = 1 rem */

    --bodyFontSz: 1.6rem;
    --titleFontSz: 2rem;

    /* MARGINALER, PADDING, BORDER */
    --viewerMargin: 20px;
    --titlePadding:8px;
    --buttonBorder: 1px solid #ADFF02;

}